* {
    box-sizing: border-box;
    border-color: None;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    color: rgb(79, 79, 79);
    line-height: 1.6;
}


/* nav bar */
nav {
    background-color: rgb(68, 71, 84);
    width: 100%;
    padding: 10px 0;
    top: 0;
    left: 0;
    z-index: 10;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
}

nav ul li a:hover {
    background-color: rgb(94, 98, 116);
}

/* introduction */
section.introduction {
    background-image: url(img11.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-top: 0;
}

h1 {
    font-size: 3rem;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 10px;
}

div.Intro p {
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px black;
    text-align:center;
    margin: 0;
    margin-bottom: 1pc;
}

/* buttons */
.greenbutton {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: medium;
}

.bluebutton {
    background-color: rgb(71, 150, 207);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: medium;
}

.redbutton {
    background-color: rgb(129, 29, 29);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: medium;
}

.readmore {
    background-color: rgb(241, 241, 241);
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    color: rgb(104, 104, 104);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: medium;
}

.readit {
    background-color: rgb(241, 241, 241);
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    color: rgb(104, 104, 104);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: medium;
}

.details {
    background-color: rgb(241, 241, 241);
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    color: rgb(104, 104, 104);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: medium;
}

.readmore {
    background-color: rgb(255, 255, 255);
    border-color: rgb(212, 212, 212);
    border-width: 2px;
    color: rgb(104, 104, 104);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: medium;
}

.readmorecolumn {
    background-color: rgb(255, 255, 255);
    border-color: rgb(212, 212, 212);
    border-width: 2px;
    color: rgb(104, 104, 104);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: medium;
}

.sendbutton {
    background-color: rgb(27, 27, 27);
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: medium;
}

/* headlines */
.headline {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    gap: 12px;
    padding: 70px 10%;
    text-align: center;
    margin-left: 170px
}

.Headlinegreen h3 {
    color: green;
    margin: 20px;
    font-size: larger;
}

.Headlinegreen p {
    color: rgb(79, 79, 79);
    margin: 20px;
    font-size: medium;
}

.greenbutton {
    margin: 0 auto;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.Headlinegreen {
    text-align:start;
    align-content: end;
    background-color: rgb(245, 245, 245);
    margin: 0;
    padding: 20px;
    height: 540px;
    width: 350px;
}

.Headlinegreen {
    background-image: url(img1.jpg);
    background-repeat: no-repeat;
}

.Headlineblue h3 {
    color: rgb(71, 150, 207);
    margin: 20px;
    font-size: larger;
}

.Headlineblue p {
    color: rgb(79, 79, 79);
    margin: 20px;
    font-size: medium;
}

.bluebutton {
    margin: 0 auto;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.Headlineblue {
    text-align:start;
    align-content: end;
    background-color: rgb(245, 245, 245);
    margin: 0;
    padding: 20px;
    height: 540px;
    width: 350px;
}

.Headlineblue {
    background-image: url(img2.jpg);
    background-repeat: no-repeat;
}

.Headlinered {
    text-align:start;
    align-content: end;
    background-color: rgb(245, 245, 245);
    margin: 0;
    padding: 20px;
    height: 540px;
    width: 350px;
}

.Headlinered {
    background-image: url(img3.jpg);
    background-repeat: no-repeat;
}

.Headlinered h3 {
    color: rgb(129, 29, 29);
    margin: 20px;
    font-size: larger;
}

.Headlinered p {
    color: rgb(79, 79, 79);
    margin: 20px;
    font-size: medium;
}

.redbutton {
    margin: 0 auto;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* side columns */
.Left {
    align-content: end;
    background-color: rgb(245, 245, 245);
    margin: 160px;
    padding: 20px;
    height: 580px;
    width: 650px;
    margin-left: 370px;
    transform: translateY(-200px);
    background-image: url(img4.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.Right {
    align-content: end;
    background-color: rgb(245, 245, 245);
    margin: 800px;
    padding: 20px;
    height: 580px;
    width: 650px;
    margin-left: 1050px;
    transform: translateY(-1580px);
    background-image: url(img5.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.Left h3 {
    text-align: center;
    margin-bottom: 80px;
}

.Left p {
    margin-bottom: 0px;
    transform: translateY(-4pc);
}

.Right h3 {
    text-align: center;
    margin-bottom: 15px;
}

.readmore {
    margin: 0 auto;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(50px);
}

/* services */
.services {
    background-image: url(img13.jpg);
    background-repeat: no-repeat;
    color: white;
    padding: 120px;
    transform: translateY(-2300px);
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-top: 0;
}

.services h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgb(121, 121, 121);
}


/* four columns */
.fourcolumns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 30px;
    padding: 80px 10%;
    width: 2000px;
    height: 700px;
    background-color: white;
    transform: translateY(-2100px);
    align-content: center;
}

.fourcolumns > div {
    background-color: #f8f8f8;
    padding: 30px;
    text-align: center;
}

.fourcolumns p {
    text-align: start;
}

.Columnone {
    align-content: end;
    background-color: rgb(245, 245, 245);
    margin: 0px;
    padding: 20px;
    height: 670px;
    width: 380px;
    margin-left: 0px;
    transform: translateY(-200px);
    background-image: url(img6.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.Columntwo {
    align-content: end;
    background-color: rgb(245, 245, 245);
    margin: 0px;
    padding: 20px;
    height: 670px;
    width: 380px;
    margin-left: 0px;
    transform: translateY(-200px);
    background-image: url(img7.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.readit, .details {
    transform: translateY(30px);
}

.Columnthree {
    align-content: end;
    background-color: rgb(245, 245, 245);
    margin: 0px;
    padding: 20px;
    height: 670px;
    width: 380px;
    margin-left: 0px;
    transform: translateY(-200px);
    background-image: url(img8.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.Columnfour {
    align-content: end;
    background-color: rgb(245, 245, 245);
    margin: 0px;
    padding: 20px;
    height: 670px;
    width: 380px;
    margin-left: 0px;
    transform: translateY(-200px);
    background-image: url(img9.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.Columnone h3 p {
    margin-bottom: 0px;
    transform: translateY(-4pc);
}


/* giant column */
.giantcolumn {
align-content: end;
    background-color: rgb(245, 245, 245);
    margin: 0px;
    padding: 20px;
    height: 65pc;
    width: 101pc;
    margin-left: 12pc;
    transform: translateY(-2300px);
    background-image: url(img10.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.giantcolumn p {
    text-align: start;
    font-size: 1.1rem;
    letter-spacing: 0.2px;
    margin-bottom: 35px
}

.giantcolumn h3 {
    margin-bottom: 10px;
}

.readmorecolumn {
    margin-right: 400px;
}


/* contact form */
.contactinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: center;
    min-height: 100vh;
    text-align: center;
    background-image: url(img14.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    
}

.contactinfo h2 {
    color:white;
    text-shadow: 1px 1px black;
    font-size: 3pc;
    margin-bottom: 100px;
    font-weight: 500;
}

.ContactForm p {
    background:rgba(245, 245, 245, 0.3);
    border-radius: 5px;
    width: 50pc;
    height: 5pc;
    padding: 10px;
    margin-bottom: 2pc;
}

form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

input, textarea {
    border: none;
    outline: none;
    background: rgba(245, 245, 245, 0.3);
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    width: 100%;
}

textarea {
    grid-column: 1 / span 3;
    height: 190px;
    margin-bottom: 10pc;
}

.sendbutton {
    grid-column: 2;
    justify-self: center;
    padding: 20px 35px;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 20px;
    margin-left: 1pc;
}

.contactinfo {
    transform: translateY(-2200px);
}

/* footer */
footer {
    text-align: center;
    padding: 30px 10px;
    font-size: 0.9rem;
}


/* all done but theres a lot of white space, tried to fix it */